:root {
    --orange-main: #ff5c57;
    --grey-main: #343a40;
    --grey-2: #2a2e31;
    --text-content: #e0dfdc;
    --text-head: white;
    --overlay-bg: black;
    --content-box-shadow: black;
}

* {
	padding: 0px;
	margin: 0px;
	border: none;
}

*,
*::before,
*::after {
	box-sizing: border-box;
}

input, textarea, button, select {
	font-family: inherit;
    font-size: inherit;
    color: inherit;
    background-color: transparent;
}